@using Library.Models
@model ClientViewModel
@*@model IEnumerable<Library.Models.PublisherViewModel>*@

@{
    ViewBag.Title = "Index";
}

<h2>Clients</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<div class="Flex">
    <button class="btn btn-outline-info" onclick="AddNewClient()"><i class="fa fa-male"></i> AddNew</button>
</div>
<table id="clientTable" class="table table-bordered table-hover" style="width: 100% !important">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="Tbody"></tbody>
</table>
<div class="modal" role="dialog" id="NewCliModal">
    <div class="modal-dialog" role="document">
        @using (Ajax.BeginForm("Create", "Client", new AjaxOptions() { HttpMethod = "POST", OnSuccess = "AddedNew", OnFailure = "Error" }))
        {
            <div class="modal-content" style="background-color: cornsilk;">
                <div class="modal-header">
                    <div class="FlexBox">
                        <h4>
                            Add New Client
                            @Html.HiddenFor(x => x.Id)
                        </h4>
                        <button class="btn" data-dismiss="modal">&times;</button>
                    </div>
                </div>
                <div class="modal-body" style="background-color: antiquewhite;">
                    <div class="form-group">
                        @Html.LabelFor(x => x.Name)
                        @Html.EditorFor(x => x.Name, new { htmlAttributes = new { @class = "form-control", @required = true } })
                        @Html.ValidationMessageFor(x => x.Name, "", new { style = "color:crimson" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.City)
                        @Html.EditorFor(x => x.City, new { htmlAttributes = new { @class = "form-control", @required = true } })
                        @Html.ValidationMessageFor(x => x.City, "", new { style = "color:crimson" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Address)
                        @Html.EditorFor(x => x.Address, new { htmlAttributes = new { @class = "form-control", @required = true } })
                        @Html.ValidationMessageFor(x => x.Address, "", new { style = "color:crimson" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Phone)
                        @Html.EditorFor(x => x.Phone, new { htmlAttributes = new { @class = "form-control", @required = true } })
                        @Html.ValidationMessageFor(x => x.Phone, "", new { style = "color:crimson" })
                    </div>

                </div>
                <div class="modal-footer">
                    <div>
                        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Submit</button>
                        <button class="btn btn-danger" data-dismiss="modal"><i class="fa fa-remove"></i> Cancel</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="modal" role="dialog" id="DetCliModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color: cornsilk;">
            <div class="modal-header">
                <div class="FlexBox">
                    <h4>
                        Details about this client
                    </h4>
                    <button class="btn" data-dismiss="modal">&times;</button>
                </div>
            </div>
            <div class="modal-body" id="DetailsModalBody" style="background-color: antiquewhite;">
                <div>
                    <h4>ClientViewModel</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            Name
                        </dt>
                        <dd>
                            <span id="ClientName"></span>
                        </dd>
                        <dt>
                            City
                        </dt>
                        <dd>
                            <span id="ClientCity"></span>
                        </dd>
                        <dt>
                            Address
                        </dt>

                        <dd>
                            <span id="ClientAddress"></span>
                        </dd>
                        <dt>
                            Phone Nr.
                        </dt>

                        <dd>
                            <span id="ClientPhone"></span>
                        </dd>
                    </dl>
                    
                    <p>
                        @Html.ActionLink("Back to list", "Index")
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/App/Client.js"></script>

}
